:root { 
--gray_600:#757575; 
--black_900_b2:#000000b2; 
--gray_901:#191919; 
--gray_900:#292929; 
--green_801:#1a8917; 
--green_800:#278916; 
--gray_50:#fafafa; 
--gray_100:#f2f2f2; 
--black_900_1e:#0000001e; 
--black_900:#000000; 
--bluegray_400:#868686; 
--white_A700:#ffffff; 
--black_900_26:#00000026; 
}